body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2rem;
}
header h1 {
    margin-bottom: 0;
}
p.warn {
    font-style: italic;
    color: darkred;
}
p.warn:before {
    content: '> ';
}
main {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

main section {
    margin-top: 2rem;
    font-size: small;
    
}
footer {
    font-size: smaller;
}
img {
    width: 30vh;
}
td {
    padding: 5vh;
}

#results {
    display: none;
}